extends _layout
block scripts
  script(src='/static/js/addings.js')
block styles
  
block content
  input#musteri(type='text',placeholder='Müşteri Kısa Adı',style="width:95%")
  input#title(type='text',placeholder='Resmi Ünvanı',style="width:95%")
  input#vergidairesi(type='text',placeholder='Vergi Dairesi',style="width:95%")  
  input#verginumarasi(type='text',placeholder='Vergi Numarası',style="width:95%")  
  br
  | Müşteri Adresi
  br
  textarea#adres(placeholder='Müşteri Adresi',rows=4,style="width:95%")  
  br
  div.double_divider
  br
  input#risk(type='text',placeholder='Risk Limit',style="width:95%")
  input#vade(type='text',placeholder='Standart Vade',style="width:95%")      
  a.btn.btn-primary(style="width:90%",href='javascript:addMusteri()')
    | Kaydet