extends _layout
block scripts
  script(src='/static/js/page-root.js')
block styles
  
block content
  a.btn(style="width:90%",href="/list/musteri") 
    i.icon-user 
    | &nbsp; Müşteriler
  br
  br
  a.btn(style="width:90%",href="/list/stok") 
    i.icon-tags
    | &nbsp; Stoklar
  br
  br  
  a.btn(style="width:90%",href="/list/satis") 
    i.icon-barcode
    | &nbsp; Satış Yap
  br
  br  
  a.btn(style="width:90%",href="/list/alim") 
    i.icon-shopping-cart
    | &nbsp; Alım Yap
  br
  br  
  a.btn(style="width:90%",href="/list/rota") 
    i.icon-random
    | &nbsp; Rota Tanımlama
  br
  br  
  a.btn(style="width:90%",href="/list/rapor") 
    i.icon-list-alt
    | &nbsp; Raporlar  