extends _layout
block scripts
  
block styles
  
block content
  div.input-append
    input#appendedInputButton(type='text',placeholder='Müşteri Adı',name='musteri',style="width:75%")
    a.btn(href='javascript:',style="width:15%")
      i.icon-search
  table.table    
    - musteriler.forEach(function(musteri){    
      tr
        td
          a.btn(href="/get/musteri/"+musteri._id)=musteri.name
        td
          a.btn(href="")
            i.icon-remove-circle  
            | &nbsp; Sil
    - })
  div.double_divider 
    a.btn(style="width:90%",href="/add/musteri") 
      i.icon-plus-sign
      | &nbsp; Yeni Müşteri Ekle  