extends _layout
block scripts
  
block styles
  
block content
  div.input-append
    input#appendedInputButton(type='text',placeholder='Müşteri Adı',name='musteri',style="width:75%")
    a.btn(href='javascript:',style="width:15%")
      i.icon-search
  ul
    li
      a.btn()
       | Usishi Bilişim
    li
      a.btn()
       | Göktuğ Bilişim
    li
      a.btn()
       | Carrefour
    li
      a.btn()
       | Merpa 
  div.double_divider 
    a.btn(style="width:90%",href="/add/musteri") 
      i.icon-plus-sign
      | &nbsp; Yeni Müşteri Ekle  